{% extends 'share layouts/base.html' %}{% load static %}
<!--............................header.......................................-->
{% block header %}
<title>About |Appals</title>
<link rel="stylesheet" href='{% static "css/about/about.css" %}' />
{% endblock header %}

{% block content %}


<!--                      the header image                   -->
<div class="about-us-section">
  <img src="{% static 'images/longer.jpg' %}" alt="Emerging technologies">
  <div class="text-overlay">
    <h2>About Appals</h2>
    <p>"Welcome to Appals, where we keep you up to date on the latest and most innovative technologies. From smartphones
      to artificial intelligence, we cover it all. Join our community of tech enthusiasts and stay ahead of the curve
      with the latest updates and insights."</p>

  </div>
</div>

<hr>

<!--                      the core values                       -->
<p class="the-big-green-Headings">|The Core Values</p>
<div class="the-core-values">
  <div id="the1CoreValue" class="theCoreValue">
    <img src="{% static 'images/creative.png' %}" alt="innovation">
    <p class="the-green-core-values">Innovative</p>
    <p>Our blog aims to keep our readers up to date on the latest and most innovative technologies and updates.</p>
  </div>

  <div id="the2CoreValue" class="theCoreValue">
    <img src="{% static 'images/quality.png' %}" alt="reliable">
    <p class="the-green-core-values">Reliability</p>
    <p>We strive to provide accurate and reliable information to our readers so they can make informed decisions about
      their tech choices.</p>
  </div>

  <div id="the3CoreValue" class="theCoreValue">
    <img src="{% static 'images/community.png' %}" alt="community">
    <p class="the-green-core-values">community</p>
    <p>We believe in fostering a community of tech enthusiasts and strive to create a welcoming and inclusive space for
      our readers to share their thoughts and ideas.</p>
  </div>
</div>



<!--author of blog-->
<p class="the-big-green-Headings">|The Core Values</p>
<center>
  <div class="author-of-the-blog-container">
    <img src="{% static 'images/author.jpeg' %}" alt="author">
    <p>IMRAN ABDU | Author and editor</p>

    <div class="authors-intro">
      <p>Hi there! My name is <b>Imran Abdu</b>, and I am a technology enthusiast with a passion for all things tech. I
        have been involved in the tech industry for <b>8 and a half</b> years, and I have always had a love for gadgets
        and software. I am an expert in <b>Web development, cybersecurity , problem solving</b>, and I am always on the
        lookout for the latest and greatest in the tech world.</p>

      <p>I am also a luxury lover, and I appreciate the finer things in life. I believe that technology should not only
        be functional, but also beautiful and well-designed. I enjoy sharing my insights and experiences with others,
        and that's why I started my tech blog - to share my knowledge and passion with the world.</p>

      <p>Thank you for stopping by, and I hope you enjoy reading my blog as much as I enjoy writing it.</p>
    </div>
  </div>
</center>





{% endblock %}