<!DOCTYPE html>
<html>
  <head>
    <title>
      Raso
    </title>
  </head>
  <body>
    <h1>Raso</h1>
    <form method="POST" class="input-form-user">
      {% csrf_token %}
      <input type="text" id="message" name="message">
      <button type="submit" value="Send">></button>
    </form>
    {% if response %}
      <p>{{ response }}</p>
    {% endif %}

<style>
body{
  background-color:rgb(40, 42, 44);
  padding:0px;
  color:white;
  margin:0px;
}
h1{
  color:silver;
  text-align: center;
}
.input-form-user{
  border:solid grey 1px;
  border-left:none;
  border-right:none;
}
.input-form-user input{
width:80%;
border:none;
padding:20px;
}

.input-form-user button{
width:15%;
border:none;
padding:20px;
}
</style>

  </body>
</html>

