{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>ADD POST ****</title>
    <meta name="description" content="Affiliate marketing">
    <meta charset="UTF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Imran Abdu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <meta http-equiv="refresh" content="216000">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/bk7sr0bb5ia1ri4yu2hd05sdqxqces0w22w3ciqwnoc60ep8/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  </head>
  <body>
  
      <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="thesubmitbutton">Submit</button>
  
  </form>

  <script>
    $('#id_tags').select2();
  </script>
  
  <script>
      tinymce.init({
      selector: 'textarea',
      plugins: "fullscreen",
      toolbar: "fullscreen",
      images_upload_credentials: true,
      autosave_interval: '20s',
  
  
       
      content_css: [
        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
        '//www.tiny.cloud/css/codepen.min.css'
      ],
    
      skin: 'outside',
    
      plugins: ['emoticons',   'image imagetools',
      'insertdatetime media table contextmenu paste code help wordcount',
      'fullscreen',
      'link',
      'media',
      'table',
      'image',
      'preview',
      'image code',
      'template',
      'wordcount',
      'fontsizeselect',
      'code',
      'autosave',
      'importcss',
    ],
      toolbar:[ 'undo redo | image | wordcount | code | a11ycheck | styleselect | forecolor | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | pastetext | code | restoredraft | link image | insertdatetime | emoticons | paste | link | media | template | table | preview | fullscreen '
    ],
    link_default_protocol: 'https',
    
    
    image_title: true,
    /* enable automatic uploads of images represented by blob or data URIs*/
    automatic_uploads: true,
    /*
      URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
      images_upload_url: 'postAcceptor.php',
      here we add custom filepicker only to Image dialog
    */
    file_picker_types: 'image',
    /* and here's our custom image picker*/
    file_picker_callback: function (cb, value, meta) {
      var input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('accept', 'image/*');
    
      /*
        Note: In modern browsers input[type="file"] is functional without
        even adding it to the DOM, but that might not be the case in some older
        or quirky browsers like IE, so you might want to add it to the DOM
        just in case, and visually hide it. And do not forget do remove it
        once you do not need it anymore.
      */
    
      input.onchange = function () {
        var file = this.files[0];
    
        var reader = new FileReader();
        reader.onload = function () {
          /*
            Note: Now we need to register the blob in TinyMCEs image blob
            registry. In the next release this part hopefully won't be
            necessary, as we are looking to handle it internally.
          */
          var id = 'blobid' + (new Date()).getTime();
          var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
          var base64 = reader.result.split(',')[1];
          var blobInfo = blobCache.create(id, file, base64);
          blobCache.add(blobInfo);
    
          /* call the callback and populate the Title field with the file name */
          cb(blobInfo.blobUri(), { title: file.name });
        };
        reader.readAsDataURL(file);
      };
    
      input.click();
    },
    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
  </script>
  
  
  
  </body>
</html>