{% load static %}
<!DOCTYPE html>
<html>

<head> 
  {% block header %}{% endblock %}
  <meta name="description" content="blog">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF">
  <meta name="author" content="Imran Abdu">
  <link rel='icon' href="{% static 'images/logowhite.jpg' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
  <link rel="stylesheet" href='{% static "css/base/base.css" %}' />
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1883306042053679"
    crossorigin="anonymous"></script>
  <script type="module" src="https://cookieconsent.popupsmart.com/js/CookieConsent.js"></script>
  <script type="text/javascript" src="https://cookieconsent.popupsmart.com/js/App.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RLM0Q2W6DG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RLM0Q2W6DG');
</script>

  <!--......................................The Drift messaging code..............................................-->
  <!-- Start of Async Drift Code -->

  <script>
    "use strict";

    !function () {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
          t.factory = function (e) {
            return function () {
              var n = Array.prototype.slice.call(arguments);
              return n.unshift(e), t.push(n), t;
            };
          }, t.methods.forEach(function (e) {
            t[e] = t.factory(e);
          }), t.load = function (t) {
            var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
          };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('bzpcp4kambt4');
  </script>
  <!-- End of Async Drift Code -->

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MFV28BG');</script>
  <!-- End Google Tag Manager -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFV28BG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="navigationBox">

    <!--{% if user.is_authenticated %}
        {{request.user}}
        {% endif %}-->

    <a href="{% url 'blognews' %}" class="theimageLogos">
      <img src="{% static 'images/logo1.png' %}" class="themainimage" />
      <img src="{% static 'images/logoword1.png' %}" class="secondImage" />
    </a>

    <div class="navigationBoxlink">
      <a href="{% url 'blognews' %}">Blogs</a>
      <a href="/blogs/?q=apps">Apps</a>
      <a href="/blogs/?q=gadgets">Gadgets</a>
      <a href="/blogs/?q=events">Events</a>
      <a href="/blogs/?q=business">Business</a>



      <form method="get" action="{% url 'search' %}" class="the-search-bar-onn-the-nav" id="search-bar-top-sturbon">
        <input type="search" placeholder="|" id="theSearchboxVNAv" name="q">
        <button class="the-search-icon-top" type="submit"><svg xmlns="http://www.w3.org/2000/svg"
            class="the-search-icon-top" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></button>
      </form>

      <!--------------------------------------------Menu bar-------------------------------------->
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtnMenu" onclick="closeNav()">&times;</a>
        <center>
          <form method="get" action="{% url 'search' %}" class="the-form-for-the-search-1">
            <input type="search" placeholder="Search for any blog" id="theSearchboxVNAv" name="q">
            <button type="submit" class="the-search-icon-menu"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></button>
          </form>
        </center>
        <a href="{% url 'blognews' %}">All Blogs</a>
        <a href="/blogs/?q=apps">Apps</a>
        <a href="/blogs/?q=gadgets">Gadgets</a>
        <a href="/blogs/?q=crypto">Crypto</a>
        <a href="/blogs/?q=startups">Startups</a>
        <a href="/blogs/?q=media">Media & Entertainment</a>
        <a href="/blogs/?q=market anlysis">Market Analysis</a>
        <hr>
        <div class="the-other-links">
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'signup' %}">Signup</a>
          <a href="{% url 'about' %}">About Us</a>

          <a href="{% url 'privacypolicy' %}">Privacy Policy</a>
        </div>
      </div>
      <div class="menu">
        <i class="fa fa-bars" onclick="openNav()"></i>
      </div>
    </div>
  </div>

  {% block content %}{% endblock %}
  <br>

  <!--..................................................the footer head.....................-->
  <footer class="theFooterContainer">
    <!--.. Footer links ..-->
    <center>
      <div class="the-first-class-of-links1">
        <a class="the-bottom-of-the-footer">© 2022-2023 appals </a>
        <a href="/blogs/">Blogs</a>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
        <a href="#">Contact Us</a>
        <a href="{% url 'privacypolicy' %}">Privacy Policy</a>
      </div>
    </center>
    </div>


  </footer>


  <!--Script for the navigation bar-->
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>


  <script>
    popupsmartCookieConsentPopup({
      "siteName": "Appals",
      "notice_banner_type": "bottom-dialog",
      "consent_type": "e-privacy",
      "palette": "dark",
      "language": "English",
      "privacy_policy_url": "#",
      "preferencesId": "#open_preferences",
      "companyLogoURL": "https://d2r80wdbkwti6l.cloudfront.net/TNh85GK88S3V8oz1rEyVivboAsbnDlG3.jpg"
    });
  </script>


  <noscript>Cookie Consent by <a href="https://popupsmart.com/" rel="nofollow noopener">Popupsmart
      Website</a></noscript>